.logo-title {
font-family: 'Satisfy', cursive;
font-size: 50px;
color: #112fb4;
margin: auto;
text-decoration: none;
position: absolute;
  
  left: 6px;    
}

#post1{
 position: relative;
   float:left;
	left:5%;
right:0%;	
	
}
#post2{
 position: relative;
   float:right;
   right:5%;
  
}

#post3{
 position: relative;
   float:left;
	left:5%;	
	
}
#post4{
 position: relative;
	 float:right;
	 right:5%;
	
}

#post5{
 position: relative;
	left:30%;	
	
}
.post {
    position: relative;
    width: 90%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;

}


#fa1 , #fa2 , #fa3 , #fa4 , #fa5 ,#threedots{position:relative;
float:right;}
#myModaltrash {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-trash {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.closetrash {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closetrash:hover,
.closetrash:focus {
  color: red;
  text-decoration: underline overline dotted red;
  cursor: pointer;
}
  .modal-body-trash {
	color:black;
	padding: 12px 16px;}
	.yesno {
  background-color: red;
  color: white;
  padding: 14px 2px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
  position:relative;
left:6%;
}

.be_sure{
	text-align:center;
}
	.yesno1 {
  background-color: green;
  color: white;
  padding: 14px 2px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
  position:relative;
left:20%;
}

.yesno:hover {
  opacity:1;
}
